# Gatsby build output
public/
.cache/

# Node
node_modules/
**/node_modules/**
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
.npm
.yarn-integrity

# Jekyll (no longer used)
_site/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# IDEs
.idea
.vscode
