---
import Layout from '../layouts/Layout.astro';
import { getEntry, render } from 'astro:content';

const about = await getEntry('pages', 'about');
const { Content } = await render(about!);
const { title, subtitle } = about!.data as any;
---

<Layout title="About">
  <div class="page-header">
    <h1 class="page-title">{title}</h1>
    <p class="page-subtitle">{subtitle}</p>
  </div>

  <div class="about-intro">
    <Content />
  </div>

</Layout>
